
@{
    ViewData["Title"] = "division";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>division</h1>


<form asp-controller="Home" asp-action="division">

    <label> DATO 1</label>

    @if (ViewBag.DatoN1V == 0)
    {

        <input type=" text" placeholder="Escribe el primer numero" name="DatoN1" min="1" max="200" />


    }
    else
    {
        <input type=" text" placeholder="Escribe el primer numero" name="DatoN1" value="@ViewBag.DatoN1V" min="1" max="200" />
    }



    <label> DATO 2</label>

    <input type=" text" placeholder="Escribe el segundo numero" name="DatoN2" value="@ViewBag.DatoN2V" min="1" max="200" />


    <input type="submit" />

    <label>Resultado</label>
    <label> @ViewBag.VariableAEnviar </label>

</form>