@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="acheref"> <a href="~/home/Division">Redirigir a la pag De Division</a></div>


<div class="acheref"> <a href="home/pratica">Redirigir a la pag De Suma</a> </div>


<div class="acheref"> <a href="home/resta">Redirigir a la pag De Resta</a> </div>


<div class="acheref"> <a href="home/multiplicacion">Redirigir a la pag De Multiplicacion</a></div>
