
@{
    ViewData["Title"] = "resta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>resta</h1>


<form asp-controller="Home" asp-action="resta">

    <div class="card">
        <label> DATO 1</label>

        @if (ViewBag.DatoN1V == 0)
        {

            <input type="number" placeholder="Escribe el primer numero" name="DatoN1" class="form-control" min="0" max="1000000000" />


        }
        else
        {
            <input type="number" placeholder="Escribe el primer numero" name="DatoN1" value="@ViewBag.DatoN1V" class="form-control" />
        }



        <label> DATO 2</label>


        @if (ViewBag.DatoN2V == 0)
        {

            <input type="number" placeholder="Escribe el segundo numero" name="DatoN2" class="form-control" min="0" max="1000000000" />


        }
        else
        {
            <input type="number" placeholder="Escribe el  segundo numero" name="DatoN2" value="@ViewBag.DatoN2V" class="form-control" />
        }



        <button class="btn btn-primary">Restar Datos</button>
    </div>


    <label>Resultado</label>
    <label> @ViewBag.VariableAEnviar </label>
    <div class="acheref"> <a href="Index" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Pagina principal</a></div>
</form>